<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bitacora de Construccion</title>
    <link rel="stylesheet" href="index.css"></link>

</head>
<body>

<div class="contenido-central">
    <div class="mensaje">Bienvenido a la Bitacora de Construccion</div>
</div>

<div class="botones">
    <button onclick="window.location.href='login.html'">Iniciar Sesion</button>
    <button onclick="window.location.href='register.html'">Registarse</button>
    <button onclick="window.close()">Salir</button>
</div>

</body>
</html>