<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bitacora de Construccion</title>
    <link rel="stylesheet" href="login.css"></link>

</head>
<body>

<div class="contenido-central">
    <div>
        <div class="mensaje">Ingrese su Correo y Contraseña</div>
        <form id="registroForm">
            <input type="email" id="correo" placeholder="Correo" required><br><br>
            <input type="password" id="contrasena" placeholder="Contraseña" required><br><br>
        </form>
    </div>
</div>

<div class="botones">
    <button onclick="window.location.href='home.html'">Iniciar Sesion</button>
    <button onclick="window.location.href='index.html'">Volver</button>
</div>

</body>
</html>